$prefix                    : "twp";
$root_font                 : "Roboto";
$color_white               : #fff;
$color_black               : #010101;
$text_color                : #404553;
$primary_color             : #f42548;
$primary_bg_text_color     : $color_white;

$color_shade               : rgb(215,209,209);
$color_light_gray          : rgb(234,239,242);

$font_weight_normal        : 400;
$font_weight_semi_bold     : 500;
$font_weight_bold          : 800;